
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/OuterTools/img/favicon.png">

    <title>Tekno Center</title>

    <!-- Bootstrap core CSS -->
    <link href="~/OuterTools/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/OuterTools/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/OuterTools/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/OuterTools/css/style.css" rel="stylesheet">
    <link href="~/OuterTools/css/style-responsive.css" rel="stylesheet" />


    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/OuterTools/js/jquery.js"></script>
    <script src="~/OuterTools/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <style>

        .field-validation-error {
            color: red;
            font-weight: bolder;
        }
    </style>

</head>

<body class="login-body">

    <div class="container">

        <div class="alert-danger text-center" style="font-size:large">
            @TempData["red"]
            <div class="alert-success text-center" style="font-size:large">@TempData["sifre"]</div>
        </div>

        @using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h2 class="form-signin-heading">Şifre Yenileme</h2>
            <div class="login-wrap">
                @Html.TextBox("email", null, new { @class="form-control", placeholder= "Kayıtlı e-posta adresinizi giriniz" })

                <button class="btn btn-lg btn-login btn-block" type="submit">Şifremi Yenile</button>

                <div class="registration">
                    Giriş sayfasına
                    @Html.ActionLink("dön", "Login", "Home")
                </div>

            </div>
        }
    </div>






</body>
</html>
